<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    #cars {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    #time{
        width: 15%;
    }
    #location{
        width: 20%;
    }

    #licence{
        width: 15%;
    }

    #cars td, #cars th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #cars tr:nth-child(even){background-color: #f2f2f2;}


    #cars th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
    #search{
        margin: 8px 10px;
        box-sizing: border-box;
        float:right;
        
    }
    #button{
        background-color: #008CBA;
        border: 5px solid #008CBA;
    }
    #name{
        border: 5px solid white;
    }
    #select{
        background-color: rgb(235, 212, 135);
        border: 5px solid rgb(235, 212, 135);
    }
     
</style>
{% if user.is_superuser %}
<ul>
    <form action="/" method="post" id="search">
        {% csrf_token %}
        <li>
            <select name="choice" id="select">
                <option value="">Select Feture</option>
                <option value="created_at">Uploaded At</option>
                <option value="username">Posted By</option>
                <option value="location">Location</option>
                <option value="licence">Licence</option>
            </select>
        </li>
        <input id="name" type="text" name="name">
        <button type="submit" id="button"> Search </button>
    </form>
 
</ul>
<table id="cars">
    <tr>
        <th id="time">Uploaded At</th>
        <th id="location">Location</th>
        <th id="licence">Licence</th>
        <th>Image</th>
        <th>Posted By</th>
    </tr>
{% for i in object_list %}
    <tr>
        <td id="time">
            {{i.created_at}}
        </td>
        <td>
            {{i.location}}
        </td>
        <td>{{i.licence}}</td>
        <td>
            <a href="/media/{{i.image}}">
                <img src=/media/{{i.image}} height="100px"/>
            </a>
        </td>
        <td>{{i.username}}</td>
    </tr>
{% endfor %}
{% elif user.is_authenticated %}
    <h1>Only Superuser can see data...<a href="/logout">Logout</a></h1>
{% else %}
<ul>
        <form action="/" method="post" id="search">
            <li>
            {% csrf_token %}
            <input id="name" type="text" name="username" placeholder="Username">
            <input id="name" type="text" name="password" placeholder="Password">
            <button type="submit" id="button"> Login </button>
        </li>
        </form>

</ul>
{% endif %}
</table>


